@import "tailwindcss";

@theme {
  --color-primary: #0C388D;
  --color-secondary: #99B7DE;
  --color-text-primary: #000000;
  --color-text-secondary: #FFFFFF;
  --color-background: #F5F7FA;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text-primary);
  }

  h1 {
    color: var(--color-primary);
    font-size: 1.875rem;
    font-weight: bold;
  }

  p {
    color: var(--color-text-primary);
    font-size: 1rem;
  }

  .rochester-regular {
    font-family: "Rochester", cursive;
    font-weight: 400;
    font-style: normal;
  }

}
